@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", serif;
}

:root {
    --text-standard: #286197;
    --text-hover: #0D355B;
    --button-hover: #0D355B;
    --button-background-none: #fff;
    --text-white: #fff;
    --background-color: #114A7E;
    --text-footer: #5699D7;
    --background-white: #fff;
}

nav {
    display: flex;
    justify-content: space-between; /* space-around / space-between*/
    width: 100%;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
}

#nav.scrolling {
    background-color: var(--background-white);
}

.nav-itens {
    list-style: none;
    display: flex;
    padding: 20px;
    padding-right: 30px;
}

.nav-itens li {
    padding-left: 20px;
}

.nav-itens li a {
    text-decoration: none;
    color: var(--text-standard);
    font-size: 20px;
}

.link::after {
    content: '';
    height: 2px;
    width: 0%;
    background-color: var(--text-hover);
    display: block;
    transition: .5s ease-in-out;
}

.link:hover::after {
    content: '';
    height: 2px;
    width: 100%;
    background-color: var(--text-hover);
    display: block;
}

.logo img {
    margin: 12px;
    width: 135px;
}

.logo a {
    text-decoration: none;
    color: var(--text-standard);
    font-weight: 800;
    font-size: 25px;
    margin-left: 5px;
    margin-top: 15px;
}

.nav-itens li a.button-login {
    color: var(--text-standard);
    padding: 9px 45px;
    border: 1px solid;
    cursor: pointer;
    font-size: 20px;
    border-radius: 5px;
    transition: 0.3s;
}

.nav-itens li a.button-login:hover {
    text-decoration: none;
    color: var(--text-white);
    padding: 9px 45px;
    border: 1px solid;
    cursor: pointer;
    font-size: 20px;
    border-radius: 5px;
    background-color: var(--button-hover);
}

.nav-itens li a.button-cadastro {
    color: var(--text-white);
    background-color: var(--button-hover);
    padding: 9px 45px;
    border: 1px solid;
    cursor: pointer;
    font-size: 20px;
    border-radius: 5px;
    transition: 0.3s;
}

.nav-itens li a.button-cadastro:hover {
    text-decoration: none;
    color: var(--text-standard);
    padding: 9px 45px;
    border: 1px solid;
    cursor: pointer;
    font-size: 20px;
    border-radius: 5px;
    background-color: var(--button-background-none);
}